.align-center{
    text-align: center;
    clear: both;
    display: block;
    margin : 6px;
}

.map-container {
    position: absolute;
    top: 100px;
    left: 200px;
    right: 0;
    bottom: 50px;
    margin: 30px;
    width: 80%;
    height: 50%;
  }
  
  #map {
    height: 86%;
    width: 60%;
  }

  #estadisticas {
    position: relative;
    float: right;
    right: 200px;
  }
  #slider{ position: absolute; top: 15px; right: 75px; }