.align-center{
    text-align: center;
    clear: both;
    display: block;
    margin : 6px;
}

.map-container {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  #map {
    height: 65%;
    width: 100%;
  }


  // .btn {
  //   background-color: DodgerBlue;
  //   border: none;
  //   color: white;
  //   padding: 12px 30px;
  //   cursor: pointer;
  //   font-size: 20px;
  // }
  
  // /* Darker background on mouse-over */
  // .btn:hover {
  //   background-color: RoyalBlue;
  // }