<!-- leaflet-elevation -->
<link rel="stylesheet" href="https://unpkg.com/@raruto/leaflet-elevation@1.5.0/dist/leaflet-elevation.min.css" />

	<!-- Leaflet (JS/CSS) -->
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

	<!-- Leaflet-UI -->
	<script src="https://unpkg.com/leaflet-ui@0.4.6/dist/leaflet-ui.js"></script>

<div class="map-container">
    <div id="map"></div>
    <!-- <div id="elevation-div" class="leaflet-control elevation"><p class="chart-placeholder" id=".chart-placeholder">move mouse over a track...</p></div> -->
</div>