<div class="new-post-container">
    <form [formGroup]="editPostForm" (ngSubmit)="editPost(editPostForm.value)">
      <mat-form-field>
        <mat-label>Título</mat-label>
        <input matInput placeholder="Título de la ruta" formControlName="titlePost">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Descripción</mat-label>
        <textarea matInput placeholder="Descripción de la ruta" formControlName="contentPost"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Tags" multiple formControlName="tagsPost">
          <mat-option value="Moderada">Moderada</mat-option>
          <mat-option value="Facil">Facil</mat-option>
          <mat-option value="dificil">Dificil</mat-option>
          <!-- <mat-option value="Sierra del Pozo">Sierra del Pozo</mat-option>
          <mat-option value="Sierra de Cazorla">Sierra de Cazorla</mat-option>
          <mat-option value="Sierra de Segura y las villas">Sierra de Segura y las villas</mat-option> -->
        </mat-select>
      </mat-form-field>
      <div class="container-input-file">
        <label class="custom-file">
          <input type="file" formControlName="imagePost" (change)="handleImage($event)" />
          <mat-icon>cloud_upload</mat-icon><span>Elegir Imagen</span>
        </label>
      </div>
      <div class="container-input-file">
        <label class="custom-file">
          <input type="file" formControlName="imagePost" (change)="handleImage($event)" />
          <mat-icon>cloud_upload</mat-icon>Subir Track (.GPX)
        </label>
      </div>
      <div class="container-button">
        <input type="submit" class="mat-flat-button" value="Guardar" [mat-dialog-close]="true">
      </div>
    </form>
  </div>